#user {
    top: 1vh;
    right: 1vh;
}

#user-image {
    width: 30px;
}

#album-image-container {
    width: 40vh;
}

#album-image {
    height: 40vh;
    width: auto;
}

#player {
    height: 100vh;
}

#volume-box {
    bottom: 3vh;
    right: 3vh;
}

#volume-box .progress {
    width: 10vw;
    height: 1vh;
    padding: 0;
}

#volume-box .progress-bar {
    transition: none;
}

#volume-controller {
    right: -0.7vh;
    width: 1.4vh;
    height: 1.4vh;
    z-index: 50;
}