<!DOCTYPE html>
<html>
  <head>
    <title>I belive Spotify</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
    <script src="/js/home.js"></script>
    <link rel="stylesheet" href="/css/basic.css"/>
    <link rel="stylesheet" href="/css/home.css"/>
  </head>
  <body>
    <div class="container-fluid" id="app">
        <div class="row justify-content-center m-auto">
            <div class="col-8 align-self-center">
                <div class="card text-center">
                    <div class="card-body">
                        <h2 class="card-title text-main">I Believe Spotify</h2>
                        <p class="card-text text-main mt-5">I Believe Spotify 讓你只需登入一次，往後透過一個網址就能聆聽 Spotify 音樂！</p>
                    </div>
                    <div class="card-footer">
                        <button class="btn btn-main mb-2" id="login">使用 Spotify 登入</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </body>
</html>