<!DOCTYPE html>
<html>
  <head>
    <title>I belive Spotify</title>
    <script src="https://sdk.scdn.co/spotify-player.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
    <script src="/js/player.js"></script>
    <link rel="stylesheet" href="/css/basic.css"/>
    <link rel="stylesheet" href="/css/player.css"/>
  </head>
  <body>
    <div class="container-fluid text-main position-relative text-center" id="app">
        <div class="row position-absolute m-0" id="user">
            <div class="col rounded-3 bg-light-background m-0 p-3">
                <img id="user-image" class="d-inline rounded-circle" v-bind:src="image"/>
                <span class="ms-2 d-inline align-middle">{{ name }}({{ email }})</span>
            </div>
        </div>
        <div class="row position-absolute m-0 align-items-center" id="volume-box">
            <div class="progress overflow-visible">
                <div class="progress-bar overflow-visible rounded bg-main position-relative" v-bind:style="{ width: String(volume) + '%'}">
                    <div class="rounded bg-light-main position-absolute" id="volume-controller"></div>
                </div>
            </div>
        </div>
        <div class="row" id="player">
            <div class="col align-self-center">
                <div class="row mb-4">
                    <div class="col">
                        <span class="fs-2 text-background badge bg-main">{{ album_name }}</span>
                    </div>
                </div>
                <div class="row">
                    <div class="bg-light-background m-auto p-0" id="album-image-container">
                        <img id="album-image" v-bind:src="album_image"/>
                    </div>
                </div>
                <div class="row mt-4">
                    <span class="fs-3">{{ track_name }}</span>
                </div>
                <div class="row mt-4">
                    <div class="btn-toolbar justify-content-center" role="toolbar">
                        <div class="btn-group" role="group">
                            <button class="btn btn-main" id="prevTrack">
                                <i class="bi bi-skip-backward-fill"></i>
                            </button>
                            <button class="btn btn-main" id="togglePlay">
                                <i v-if="paused" class="bi bi-play-fill"></i>
                                <i v-else class="bi bi-pause-fill"></i>
                            </button>
                            <button class="btn btn-main" id="nextTrack">
                                <i class="bi bi-skip-forward-fill"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </body>
</html>